<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Tipo de vehiculo
      Empresa
    </div>
    <div class="col-sm-4">
      Ciudad 
      Vitrina
    </div>
    <div class="col-sm-4">
      Año Mes
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 table-responsive-xs" style="overflow: auto; height: 200px;overflow-y: inherit;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Concesionario</th>
            <th scope="col">Completa</th>
            <th scope="col">Incompleta</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas">
            <td (click)="empresa.isExpanded = !empresa.isExpanded">
              {{ empresa.nombre }}
              <div *ngIf="empresa.isExpanded" class="expanded-panel">
                <tr class="table-row">
                  <td class="cell">Calle 127</td>
                </tr>
              </div>
            </td>
            <td>
              {{ empresa.numCompletas }}
              <div *ngIf="empresa.isExpanded" class="expanded-panel">
                <tr class="table-row">
                  <td class="cell">21</td>
                </tr>
              </div>
            </td>
            <td>
              {{ empresa.numIncompletas }}
              <div *ngIf="empresa.isExpanded" class="expanded-panel">
                <tr class="table-row">
                  <td class="cell">8</td>
                </tr>
              </div>
            </td>
            <td>
              {{ empresa.numCompletas + empresa.numIncompletas }}
              <div *ngIf="empresa.isExpanded" class="expanded-panel">
                <tr class="table-row">
                  <td class="cell">29</td>
                </tr>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-lg-4">
      <div *ngIf="procedenciasSpinner" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <app-base-chart *ngIf="!procedenciasSpinner" [graficas]="procendencias" nombre="Origen"></app-base-chart>
    </div>
    <div class="col-md-4 col-lg-4">
      <div *ngIf="plataformasSpinner" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <app-base-chart *ngIf="!plataformasSpinner" [graficas]="plataformas" nombre="Plataforma"></app-base-chart>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      VENTAS CONCESIONARIO POR PROCEDENCIA DE LEADS
      <div *ngIf="plataformasSpinner" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <app-base-chart *ngIf="!plataformasSpinner" [graficas]="plataformas" nombre="Plataforma"></app-base-chart>
    </div>
    <div class="col-sm-4">VENTAS DETAL POR CANAL</div>
    <div class="col-sm-4">VENTAS DETAL POR MEDIO</div>
  </div>
</div>